@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Overpass:wght@300&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    margin: 0px;
    background-color: #F0E5D5;
    color: #5A5A64;
    font-size: 17px;
    letter-spacing: 0.6px;
}

h1 small {
  color: #999;
  display: block;
  font-size: 0.5em;
  padding-bottom: 20px;
  padding-top: 10px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 38px;
    font-weight: 700;
    padding-left: 30px;
    color: #9C896E;
    padding-bottom: 15px;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    color: #9C896E;
    padding-left: 30px;
}

.wrap {
  background-color: #F7F4EF;
  margin: 50px;
  padding: 50px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.profile, .position, .education, .skills, .awards {
  margin-bottom: 30px;
  padding-left: 30px;
}

.profile {
  border-top: 2px solid #ffbc42;
  padding-bottom: 25px;
  line-height: 1.8; 
}

.italics {
  font-style: italic;
}

.position {
  border-top: 2px solid #d81159;
  line-height: 1.8; 
}

.experience {
    padding-bottom: 0px;
}

.education {
  border-top: 2px solid #2b9348;
  line-height: 1.8; 
}

.educationwrap {
    padding-bottom: 10px;
}

.skills-wrap {
  margin-bottom: 60px;
}

.skills {
  border-top: 2px solid #00b9da;
  line-height: 1.8; 
}

.awards {
  border-top: 2px solid #6935e2;
  line-height: 1.8; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.skill-col {
  line-height: 1.8;
  margin-right: 30px;
}

.title {
  display: block;
  margin-top: -10px;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #F7F4EF;
}

.supplemental {
  display: block;
  padding-bottom: 5px;
}

.time-period {
  display: block;
  font-size: smaller;
  color: #999;
}